<!-- app/views/recipes/_form.html.erb -->
<div class="form-section mt-6">
  <p>栄養素を選択 (最大5つ)</p>
  <% ["ミネラル", "たんぱく質", "炭水化物", "ビタミン", "脂質"].each do |nutrient| %>
  <div class="form-check">
    <%= check_box_tag "nutrients[]", nutrient, false, class: "form-check-input" %>
    <%= label_tag "nutrients_#{nutrient}", nutrient, class: "form-check-label ml-2" %>
  </div>
  <% end %>
  <%= submit_tag '献立作成', class: 'btn btn-primary mt-4' %>
</div>