<!-- app/views/recipes/_form.html.erb -->
<div class="mb-6">
  <p class="text-lg font-semibold mb-2">栄養素を選択 (最大5つ)</p>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% ["ミネラル", "たんぱく質", "炭水化物", "ビタミン", "脂質"].each do |nutrient| %>
    <div class="form-check flex items-center">
      <%= check_box_tag "nutrients[]", nutrient, false, id: "nutrient_#{nutrient}", class: "form-check-input w-6 h-6" %>
      <%= label_tag "nutrient_#{nutrient}", nutrient, class: "ml-2 text-lg" %>
    </div>
    <% end %>
  </div>
</div>