<!-- app/views/recipes/new.html.erb -->
<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-6">献立作成</h1>

  <!-- カレンダー表示部分 -->
<div class="calendar-section w-3/5 mx-auto bg-white shadow-md rounded-lg p-2 mb-4"> <!-- p-4からp-2に変更 -->
  <div class="w-full mx-auto" style="max-width: 900px;">
    <%= render 'calendars/calendar' %>
  </div>
</div>



  <!-- フォームをレンダリング -->
  <%= render 'form' %>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    let ingredientCount = 1;
    const maxIngredients = 5;

    document.getElementById('addIngredientButton').addEventListener('click', function() {
      if (ingredientCount >= maxIngredients) {
        alert('食材は最大5つまでしか追加できません。');
        return;
      }

      const ingredientFields = document.getElementById('ingredientFields');
      const ingredientInput = document.createElement('input');
      ingredientInput.type = 'text';
      ingredientInput.name = 'ingredients[]';
      ingredientInput.placeholder = `食材${ingredientCount + 1}`;
      ingredientInput.classList.add('block', 'w-1/2', 'mx-auto', 'border', 'border-gray-300', 'rounded-lg', 'p-2', 'mb-2');
      ingredientFields.appendChild(ingredientInput);

      ingredientCount++;
    });

    document.getElementById('toggleNutrientList').addEventListener('click', function() {
      const nutrientList = document.getElementById('nutrientList');
      nutrientList.classList.toggle('hidden');
    });
  });
</script>
