<!-- app/views/recipes/new.html.erb -->
<!-- カレンダー部分 -->
<div class="calendar-section w-3/5 mx-auto bg-white shadow-md rounded-lg p-4 mb-6">
  <!-- カレンダーのサイズを小さく、横長に調整 -->
  <div class="w-full mx-auto" style="max-width: 700px;">
    <div id="calendar" style="width: 100%; height: 500px;"></div> <!-- カレンダー表示部分 -->
  </div>
</div>

<div class="menu-creation-page text-center">
  <h1 class="text-2xl font-bold mb-6">献立作成</h1>

  <!-- フォーム部分 -->
  <%= render 'form' %>
</div>

<% content_for :additional_js do %>
  <%= javascript_include_tag 'calendar', defer: true %>
<% end %>
